body
{
    text-align: center;
background-color:#b4eba7;        
}
div 
{
  margin-top: 15px;  
}
.ImageSection
{
 display: flex;
  justify-content: center;  
}
.ImageStyle
{
    margin-left: 25px;
   margin-right: 25px;
    background-color: white
}